<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soo.sootudy.mapper.ChatMapper">
  
  <select id="getList" resultType="com.soo.sootudy.domain.ChatRoomDTO">
  SELECT
      *
  FROM chat_rooms
  </select>
  
  <select id="get" resultType="com.soo.sootudy.domain.ChatRoomDTO">
  SELECT
      *
  FROM chat_rooms
  WHERE roomId = #{roomId}
  </select>
  
  <insert id="insert">
    INSERT INTO chat_rooms
            ( roomId
            , name )
    VALUES  (#{roomId}
            , #{name} )
  </insert>
  
  <update id="updateCnt">
  
  UPDATE chat_rooms
  SET cnt = #{cnt}
  WHERE roomId = #{roomId} 
  </update>
  
</mapper>
