<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soo.sootudy.mapper.MemberMapper">


  <resultMap type="com.soo.sootudy.domain.MemberVO" id="memberMap">
    <id property="id" column="id"/>
    <result property="id" column="id"/>
    <result property="pw" column="pw"/>
    <result property="nm" column="nm"/>
    <result property="email" column="email"/>
    <result property="type" column="type"/>
    <result property="dt" column="dt"/>
    <result property="udt_dt" column="udt_dt"/>
    <collection property="authList" resultMap="authMap">
    </collection> 
  </resultMap>
  
  <resultMap type="com.soo.sootudy.domain.AuthVO" id="authMap">
    <result property="id" column="id"/>
    <result property="auth" column="auth"/>
  </resultMap>
  
  
  <select id="readByID" resultMap="memberMap">
	SELECT 
	      mem.id,  
	      pw, 
	      nm, 
	      email,
	      type, 
	      dt, 
	      udt_dt, 
	      auth
	 FROM 
	      member mem left outer join member_auth auth 
	 ON mem.userid = auth.userid 
	 WHERE mem.userid = #{userid} 
  </select>

  <select id="readByOAuthID" resultMap="memberMap">
	 SELECT 
        mem.id,  
        pw, 
        nm, 
        email,
        type, 
        dt, 
        udt_dt, 
        auth
   FROM 
        member mem left outer join member_auth auth 
   ON mem.userid = auth.userid 
   WHERE mem.userid = #{userid} 
  </select>
  <select id="check" resultType="com.soo.sootudy.domain.MemberVO">
  SELECT * FROM member
    <where>
      <if test="checkArg == 'id'.toString()">
       ID = #{val}
      </if>
      <if test="checkArg == 'nm'.toString()">
       NM = #{val}
      </if>
      <if test="checkArg == 'email'.toString()">
       EMAIL = #{val}
      </if>
    </where>
  </select>
  
  <insert id="insert">
  INSERT INTO member
       ( ID
       , PW
       , NM
       , EMAIL) 
    VALUES(#{id}
       ,   #{pw}
       ,   #{nickName}
       ,   #{email})
  </insert>
  
  
  
</mapper>